.post-item {
    color: white;
    width: 50%;
    height: auto;
    background-color: rgb(48, 48, 48);
    border-radius: 0.5rem;
    border: 2px solid rgb(163, 163, 163);
    text-align: center;
    padding: 0.5rem;
}

.post-header h3 {
    margin: 0;
}

.post-review p {
    margin-bottom: 0;
}

::-webkit-scrollbar {
    position: absolute;
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #979797; 
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}